@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');

.editor-container {
  width: 45%;
  margin: 20px auto 25px auto;
  border: 1px solid black;
  box-shadow: 0 0 10px black;
}

.editor-container .edit-header,
.preview-container .preview-header {
  background: rgb(50, 160, 160) url('./img/edit.svg') no-repeat;
  background-size: 20px 20px;
  background-position: 5px 3px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  border-bottom: 1px solid black;
}

.editor-container #editor {
  width: 100%;
  min-height: 200px;
  background-color: rgb(197, 230, 231);
  resize: vertical;
  outline: none;
  border: none;
  margin-bottom: -4px;
}

.editor-container.maximized #editor {
  min-height: 95vh;
  resize: none;
}

.editor-container .edit-header h1,
.preview-container .preview-header h1 {
  margin: 0;
  padding-left: 30px;
  font-family: 'Poppins', sans-serif;;
  font-size: 16px;
}

.editor-container .edit-header .open-full,
.preview-container .preview-header .open-full {
  display: block;
  height: 17px;
  width: 17px;
  background-image: url('./img/arrows-alt-solid.svg');
  margin: 3px;
  cursor: pointer;
}
.editor-container.maximized .edit-header .open-full,
.preview-container.maximized .preview-header .open-full {
  background-image: url('./img/compress-arrows-alt-solid.svg');
}

.preview-container {
  min-height: 200px;
  width: 65%;
  margin: 20px auto 25px auto;
  border: 1px solid black;
  box-shadow: 0 0 10px black;
  background-color: rgb(197, 230, 231);
}

.preview-container #preview {
  padding: 0 15px;
}

pre, code {
  background-color: white;
}

.maximized {
  min-height: 95vh;
  width: 95%;
}